* {
    /* font-size: 62.5%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --transition-delay: .4s;

    /* BODY */
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
}


/*        */
/*        */
/*        */
/*        */




/*           */
/* CARDS     */
/*           */
#card-intro-all {
    grid-column: 1/3;
    grid-row: 1/2;
}

#card-skills-all {
    grid-column: 3/4;
    grid-row: 1/2;
}

#card-map-all {
    grid-column: 2/4;
    grid-row: 2/3;
}

#card-contact-all {
    grid-column: 4;
    grid-row: 1/3;
}

#card-spotify-all {
    grid-column: 1/3;
    grid-row: 5/6;
}

#card-github-all {
    grid-column: 1/2;
    grid-row: 3/4;
}

#card-linkedin-all {
    grid-column: 1/2;
    grid-row: 4/5;
}

#card-weather-all {
    grid-column: 1/2;
    grid-row: 2/3;
}

#card-quizzical-all {
    grid-column: 4/5;
    grid-row: 3/5;
}

#card-vanlife-all {
    grid-column: 3/4;
    grid-row: 3/5;
}

#card-evogym-all {
    grid-column: 2/3;
    grid-row: 3/5;
}

/*              */
/* FILTER--ABOUT */
/*              */

#card-intro-about {
    grid-column: 1/3;
    grid-row: 1/2;
}

#card-skills-about {
    grid-column: 3/4;
    grid-row: 1/2;
}

#card-map-about {
    grid-column: 2/4;
    grid-row: 2/3;
}

#card-contact-about {
    grid-column: 4/5;
    grid-row: 3/5;
}

#card-spotify-about {
    grid-column: 1/3;
    grid-row: 5/6;
}

#card-github-about {
    grid-column: 1/2;
    grid-row: 2/3;
}

#card-linkedin-about {
    grid-column: 4/5;
    grid-row: 1/2;
}

#card-weather-about {
    grid-column: 4/5;
    grid-row: 2/3;
}

#card-quizzical-about {
    grid-column: 3/4;
    grid-row: 3/5;
}

#card-vanlife-about {
    grid-column: 2/3;
    grid-row: 3/5;
}

#card-evogym-about {
    grid-column: 1/2;
    grid-row: 3/5;
}

/*                  */
/* FILTER--PROJECTS */
/*                  */


#card-intro-projects {
    grid-column: 1/3;
    grid-row: 4/5;
}

#card-intro-projects .intro-img {
    display: none;
}

#card-skills-projects {
    grid-column: 4;
    grid-row: 1/2;
}

#card-map-projects {
    grid-column: 2/4;
    grid-row: 3/4;
}

#card-contact-projects {
    grid-column: 4/5;
    grid-row: 3/5;
}

#card-spotify-projects {
    grid-column: 1/3;
    grid-row: 5/6;
}

#card-github-projects {
    grid-column: 4/5;
    grid-row: 2/3;
}

#card-linkedin-projects {
    grid-column: 1/2;
    grid-row: 3/4;
}

#card-weather-projects {
    grid-column: 3/4;
    grid-row: 4/5;
}

#card-quizzical-projects {
    grid-column: 3;
    grid-row: 1/3;
}

#card-vanlife-projects {
    grid-column: 2;
    grid-row: 1/3;
}

#card-evogym-projects {
    grid-column: 1;
    grid-row: 1/3;
}

/*                  */
/* FILTER--CONTACT */
/*                  */

#card-intro-contact {
    grid-column: 4/5;
    grid-row: 3/5;
}

#card-intro-contact .intro-img {
    display: none;
}

#card-skills-contact {
    grid-column: 4/5;
    grid-row: 1;
}

#card-map-contact {
    grid-column: 2/4;
    grid-row: 2/3;
}

#card-contact-contact {
    grid-column: 1/2;
    grid-row: 1/3;
}

#card-spotify-contact {
    grid-column: 1/3;
    grid-row: 5/6;
}

#card-github-contact {
    grid-column: 3/4;
    grid-row: 1/2;
}

#card-linkedin-contact {
    grid-column: 2/3;
    grid-row: 1/2;
}

#card-weather-contact {
    grid-column: 4/5;
    grid-row: 2/3;
}

#card-quizzical-contact {
    grid-column: 2/3;
    grid-row: 3/5;
}

#card-vanlife-contact {
    grid-column: 1/2;
    grid-row: 3/5;
}

#card-evogym-contact {
    grid-column: 3/4;
    grid-row: 3/5;
}
