/* 
CALCULATIONS;
CONTAINER WHITESPACE 4COL: 24 + 24 + 24 + 32 + 32 = 136PX 
CONTAINER WHITESPACE 3COL: 24 + 24 + 32 + 32 = 112PX
CONTAINER WHITESPACE 2COL: 24 + 32 + 32 = 88PX
CONTAINER WHITESPACE 2COL: 24 + 24 + 24 = 72PX
*/

/* 
9999PX -> 1200PX 
COLUMNS: 4(266PX) 
ROWS:    6(266PX)
*/

/* 
1200PX -> 1000PX 
COLUMNS: 4(216PX) 
ROWS:    6(216PX) 
CHANGELOG:  DONE
*/
@media (max-width: 1199px) {

    /* BODY */
    .grid-container {
        max-width: 936px;
    }

    .grid {
        grid-template-columns: repeat(4, 216px);
        grid-template-rows: repeat(5, 216px);
    }

    .card-header {
        font-size: 1.3rem;
    }

    /* INTRODUCTION */
    .intro-subheader {
        font-size: 1.3rem;
        margin-top: .6em;
        margin-bottom: 0.6em;
    }

    .intro-text {
        font-size: .9rem;
        line-height: 1.4;
        margin-bottom: 0.2em;
    }

    .intro-img {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 190px;
    }

    .intro-btn {
        font-size: 0.8rem;
    }

    /* SKILLS */

    .skills-container,
    .card-header {
        margin-bottom: 10px;
    }

    .skills-container .skill-icon {
        width: 35px;
        height: 35px;
    }

    /* CONTACT */

    .input-data input,
    .textarea textarea {
        margin: 10px 0;
    }

    .input-data label {
        position: absolute;
        pointer-events: none;
        bottom: 10px;
        font-size: .9rem;
        transition: all 0.3s ease;
    }

    .input-data textarea {
        resize: none;
        padding-top: 15px;
        height: 140px;
    }

    .textarea label {
        width: 100%;
        bottom: 165px;
        background-color: transparent;
    }

    /* PROJECTS */

    .project-preview-container {
        height: 200px;
        width: 100%;
        margin: 10% 0;
    }

    /* WEATHER */

    .city,
    .temp {
        font-size: 1rem;
    }
}









/* 
  1000PX -> 800PX 
  COLUMNS: 3(229PX) 
  ROWS:    8(229PX)
  CHANGELOG:  DONE
  */
@media (max-width: 999px) {

    /* BODY */
    .grid-container {
        max-width: 735px;
    }

    .grid {
        grid-template-columns: repeat(3, 229px);
        grid-template-rows: repeat(7, 229px);
    }

    .card-intro {
        justify-content: space-evenly;
    }

    .intro-img {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 195px;
    }

    .intro-subheader {
        margin-bottom: 0;
    }

    /* SKILLS */
    .skills-container,
    .card-header {
        margin-bottom: 10px;
    }

    .skills-container .skill-icon {
        width: 35px;
        height: 35px;
    }


    /* CONTACT */

    .input-data input,
    .textarea textarea {
        margin: 15px 0;
    }

    .input-data label {
        position: absolute;
        pointer-events: none;
        bottom: 10px;
        font-size: .9rem;
        transition: all 0.3s ease;
    }

    .input-data textarea {
        resize: none;
        padding-top: 15px;
        height: 140px;
    }

    .textarea label {
        width: 100%;
        bottom: 170px;
        background-color: transparent;
    }

    /* PROJECTS */

    .project-preview-container {
        height: 200px;
        width: 100%;
        margin: 15% 0;
    }


    /*           */
    /*           */
    /* FILTER-ALL */
    /*           */
    /*           */
    #card-intro-all {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #card-skills-all {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #card-map-all {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    #card-contact-all {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    #card-spotify-all {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    #card-github-all {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #card-linkedin-all {
        grid-column: 2/4;
        grid-row: 4/5;
    }

    #card-weather-all {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #card-quizzical-all {
        grid-column: 3/4;
        grid-row: 5/7;
    }

    #card-vanlife-all {
        grid-column: 2/3;
        grid-row: 5/7;
    }

    #card-evogym-all {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    /*             */
    /*             */
    /* FILTER-ABOUT*/
    /*             */
    /*             */
    #card-intro-about {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #card-skills-about {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #card-map-about {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #card-contact-about {
        grid-column: 3/4;
        grid-row: 3/5;
    }

    #card-spotify-about {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    #card-github-about {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #card-linkedin-about {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #card-weather-about {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #card-quizzical-about {
        grid-column: 3/4;
        grid-row: 5/7;
    }

    #card-vanlife-about {
        grid-column: 2/3;
        grid-row: 5/7
    }

    #card-evogym-about {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    /*                */
    /*                */
    /* FILTER-PROJECTS */
    /*                */
    /*                */
    #card-intro-projects {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    #card-skills-projects {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #card-map-projects {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    #card-contact-projects {
        grid-column: 3/4;
        grid-row: 4/6;
    }

    #card-spotify-projects {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    #card-github-projects {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #card-linkedin-projects {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #card-weather-projects {
        grid-column: 3/4;
        grid-row: 6/7;
    }

    #card-quizzical-projects {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    #card-vanlife-projects {
        grid-column: 2/3;
        grid-row: 1/3
    }

    #card-evogym-projects {
        grid-column: 1/2;
        grid-row: 1/3
    }

    /*                */
    /*                */
    /* FILTER-CONTACT */
    /*                */
    /*                */


    #card-intro-contact {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #card-skills-contact {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    #card-map-contact {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #card-contact-contact {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #card-spotify-contact {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    #card-github-contact {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #card-linkedin-contact {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    #card-weather-contact {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    #card-quizzical-contact {
        grid-column: 3/4;
        grid-row: 5/7;
    }

    #card-vanlife-contact {
        grid-column: 2/3;
        grid-row: 5/7
    }

    #card-evogym-contact {
        grid-column: 1/2;
        grid-row: 5/7;
    }
}














/* 
  800PX -> 546PX 
  COLUMNS: 2(229PX) 
  ROWS:   12(229PX)
  CHANGELOG:  DONE
  */
@media (max-width: 799px) {

    /* GENERAL */
    .grid-container {
        max-width: 546px;
    }

    .grid {
        grid-template-columns: repeat(2, 229px);
        grid-template-rows: repeat(10, 229px);
    }

    /* HEADER */

    header {
        flex-direction: column;
        gap: 10px;
        transition: var(--transition-delay);
        margin-bottom: 80px;
    }

    .filters,
    .theme-switcher {
        font-size: .9rem;
    }

    .theme-switcher {
        transform: scale(70%)
    }


    /*            */
    /*            */
    /* FILTER-ALL */
    /*            */
    /*            */

    #card-intro-all {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #card-skills-all {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #card-map-all {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #card-contact-all {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    #card-spotify-all {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    #card-github-all {
        grid-column: 1/2;
        grid-row: 6/8;
    }

    #card-linkedin-all {
        grid-column: 2/3;
        grid-row: 4/6;
    }

    #card-weather-all {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #card-quizzical-all {
        grid-column: 2/3;
        grid-row: 8/10;
    }

    #card-vanlife-all {
        grid-column: 1/2;
        grid-row: 8/10;
    }

    #card-evogym-all {
        grid-column: 2/3;
        grid-row: 6/8;
    }

    /*             */
    /*             */
    /* FILTER-ABOUT */
    /*             */
    /*             */

    #card-intro-about {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #card-skills-about {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #card-map-about {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #card-contact-about {
        grid-column: 1/2;
        grid-row: 6/8;
    }

    #card-spotify-about {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    #card-github-about {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    #card-linkedin-about {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    #card-weather-about {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #card-quizzical-about {
        grid-column: 2/3;
        grid-row: 8/10;
    }

    #card-vanlife-about {
        grid-column: 1/2;
        grid-row: 8/10;
    }

    #card-evogym-about {
        grid-column: 2/3;
        grid-row: 6/8;
    }

    /*                */
    /*                */
    /* FILTER-PROJECTS */
    /*                */
    /*                */

    #card-intro-projects {
        grid-column: 1/3;
        grid-row: 8/9;
    }

    #card-skills-projects {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    #card-map-projects {
        grid-column: 1/3;
        grid-row: 9/10;
    }

    #card-contact-projects {
        grid-column: 1/2;
        grid-row: 6/8;
    }

    #card-spotify-projects {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    #card-github-projects {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    #card-linkedin-projects {
        grid-column: 2/3;
        grid-row: 6/8;
    }

    #card-weather-projects {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #card-quizzical-projects {
        grid-column: 1/2;
        grid-row: 3/5;
    }

    #card-vanlife-projects {
        grid-column: 2/3;
        grid-row: 1/3
    }

    #card-evogym-projects {
        grid-column: 1/2;
        grid-row: 1/3
    }

    /*                */
    /*                */
    /* FILTER-CONTACT */
    /*                */
    /*                */

    #card-intro-contact {
        grid-column: 1/3;
        grid-row: 8/9;
    }

    #card-skills-contact {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    #card-map-contact {
        grid-column: 1/3;
        grid-row: 9/10;
    }

    #card-contact-contact {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #card-spotify-contact {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    #card-github-contact {
        grid-column: 1/2;
        grid-row: 3/5;
    }

    #card-linkedin-contact {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #card-weather-contact {
        grid-column: 2/3;
        grid-row: 7/8;
    }

    #card-quizzical-contact {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    #card-vanlife-contact {
        grid-column: 2/3;
        grid-row: 5/7
    }

    #card-evogym-contact {
        grid-column: 2/3;
        grid-row: 3/5
    }

    .card-intro {
        justify-content: space-evenly;
    }

    /* INTRO */
    .intro-subheader {
        margin-bottom: 0;
    }
}















/* 
  546PX -> 424PX 
  COLUMNS: 2(168PX) 
  ROWS:   20(168PX)
  CHANGELOG:  DONE
  */
@media (max-width: 545px) {

    /* BODY */
    .grid-container {
        max-width: 360px;
    }

    .grid {
        grid-template-columns: repeat(2, 168px);
        grid-template-rows: repeat(23, 168px);
    }

    /* INTRO */

    .card-intro {
        justify-content: space-evenly;
    }

    .intro-img {
        bottom: 310px;
    }

    .intro-subheader {
        font-size: 1.3rem;
        margin: 1em 0 0;
    }

    .intro-text {
        line-height: 1.9;
    }

    header {
        margin-bottom: 80px;
    }

    /* CONTACT */

    .input-data textarea {
        height: 210px;
    }

    .textarea label {
        bottom: 240px;
    }

    /*            */
    /* MAPBOX API */
    /* MAPBOX API */
    /* MAPBOX API */
    /*            */
    #map {
        pointer-events: none;
    }

    #map:hover {
        box-shadow: var(--grid-hover-box-shadow);
    }

    .mapboxgl-ctrl-group {
        display: none;
    }

    /* SKILLS */
    .skills-container .skill-icon {
        width: 55px;
        height: 55px;
        margin: 10px 0;

    }

    .skills-container {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
        align-items: center;
    }

    /* PROJECTS */

    .project-preview-container {
        height: 270px;
        width: 90%;
        margin: 30px auto;
    }

    .social-media-btn {
        padding: 4px;
    }

    /* WEATHER */

    .weather {
        padding: 30px;
    }

    .card-weather {
        font-size: 0.8rem;
        color: var(--text-color);
        position: relative;
        text-align: center;
    }

    /* SPOTIFY */
    .spotify-cover {
        width: 150px;
        height: 150px;
    }

    .spotify-body {
        gap: 20px;
    }

    .spotify-track {
        font-size: 1.15rem;
    }

    .spotify-artist {
        font-size: 1rem;
    }

    .weather .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*           */
    /*           */
    /* FILTER-ALL */
    /*           */
    /*           */

    #card-intro-all {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #card-skills-all {
        grid-column: 1/3;
        grid-row: 7/9;
    }

    #card-map-all {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    #card-contact-all {
        grid-column: 1/3;
        grid-row: 19/22;
    }

    #card-spotify-all {
        grid-column: 1/3;
        grid-row: 22/24;
    }

    #card-github-all {
        grid-column: 2/3;
        grid-row: 9/10;
    }

    #card-linkedin-all {
        grid-column: 1/2;
        grid-row: 9/10;
    }

    #card-weather-all {
        grid-column: 1/3;
        grid-row: 5/7;
    }

    #card-quizzical-all {
        grid-column: 1/3;
        grid-row: 16/19;
    }

    #card-vanlife-all {
        grid-column: 1/3;
        grid-row: 13/16;
    }

    #card-evogym-all {
        grid-column: 1/3;
        grid-row: 10/13;
    }

    /*             */
    /*             */
    /* FILTER-ABOUT */
    /*             */
    /*             */


    #card-intro-about {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #card-skills-about {
        grid-column: 1/3;
        grid-row: 7/9;
    }

    #card-map-about {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    #card-contact-about {
        grid-column: 1/3;
        grid-row: 19/22;
    }

    #card-spotify-about {
        grid-column: 1/3;
        grid-row: 22/24;
    }

    #card-github-about {
        grid-column: 2/3;
        grid-row: 9/10;
    }

    #card-linkedin-about {
        grid-column: 1/2;
        grid-row: 9/10;
    }

    #card-weather-about {
        grid-column: 1/3;
        grid-row: 5/7;
    }

    #card-quizzical-about {
        grid-column: 1/3;
        grid-row: 16/19;
    }

    #card-vanlife-about {
        grid-column: 1/3;
        grid-row: 13/16;
    }

    #card-evogym-about {
        grid-column: 1/3;
        grid-row: 10/13;
    }

    /*                */
    /*                */
    /* FILTER-PROJECTS */
    /*                */
    /*                */

    #card-intro-projects {
        grid-column: 1/3;
        grid-row: 16/18;
    }

    #card-skills-projects {
        grid-column: 1/3;
        grid-row: 10/12;
    }

    #card-map-projects {
        grid-column: 1/3;
        grid-row: 18/20;
    }

    #card-contact-projects {
        grid-column: 1/3;
        grid-row: 13/16;
    }

    #card-spotify-projects {
        grid-column: 1/3;
        grid-row: 22/24;
    }

    #card-github-projects {
        grid-column: 2/3;
        grid-row: 12/13;
    }

    #card-linkedin-projects {
        grid-column: 1/2;
        grid-row: 12/13;
    }

    #card-weather-projects {
        grid-column: 1/3;
        grid-row: 20/22;
    }

    #card-quizzical-projects {
        grid-column: 1/3;
        grid-row: 7/10;
    }

    #card-vanlife-projects {
        grid-column: 1/3;
        grid-row: 4/7;
    }

    #card-evogym-projects {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    /*                */
    /* FILTER CONTACT */
    /*                */

    #card-intro-contact {
        grid-column: 1/3;
        grid-row: 16/18;
    }

    #card-skills-contact {
        grid-column: 1/3;
        grid-row: 14/16;
    }

    #card-map-contact {
        grid-column: 1/3;
        grid-row: 18/20;
    }

    #card-contact-contact {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    #card-spotify-contact {
        grid-column: 1/3;
        grid-row: 22/24;
    }

    #card-github-contact {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #card-linkedin-contact {
        grid-column: 1/2;
        grid-row: 4/4;
    }

    #card-weather-contact {
        grid-column: 1/3;
        grid-row: 20/22;
    }

    #card-quizzical-contact {
        grid-column: 1/3;
        grid-row: 11/14;
    }

    #card-vanlife-contact {
        grid-column: 1/3;
        grid-row: 8/11;
    }

    #card-evogym-contact {
        grid-column: 1/3;
        grid-row: 5/8;
    }
}
